
  
  .table-full-width {
    width: 100%;
    table-layout: fixed; /*  columns are evenly distributed */
    overflow-x: auto; /* Add horizontal scrolling if needed */
    display: block; /* Make table scrollable */
  }
  h2 {
    text-align: center;
    padding: 1.25rem; 
  
    margin-bottom: 1.5625rem; 
  }
  @media (min-width: 1200px) {
    h2 {
      font-size: 1.5rem;}
  
    .table-full-width {
      font-size: 1rem;   }
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 1.25rem; / }
  
    .label-container {
      flex-direction: column;
    }
  
    .label-container label,
    .label-container input,
    .label-container select {
      font-size: 0.875rem;  }
  
    .table-full-width {
      font-size: 0.875rem;  }
  
    .table {
      font-size: 0.875rem;    }
  }

  @media (max-width: 320px) {
    h2 {
      font-size: 1rem; 
       }
  
    .label-container {
      flex-direction: column;
    }
  
    .label-container label,
    .label-container input,
    .label-container select {
      font-size: 0.75rem;   }
  
    .table-full-width {
      font-size: 0.675rem;  }
  
    .table {
      font-size: 0.675rem;    }
  }
  
 

  
  