.button-container {
    display: flex;
    padding-top: 20px; 
    
 }
  
  .button-container .btn {
    flex: 1;
    max-width: 150px;
    margin: 0 20px; 
    font-size: 18px; 
  }
  
  .button-container .btn:first-child {
    margin-left: 0;
  }
  
  .button-container .btn:last-child {
    margin-right: 0;
  }
  