.button-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.875rem; 
  justify-content: center; 
  gap: 1.25rem; 
}

.button-container .btn {
  flex: 1;
  max-width: 9.375rem; 
  margin: 0 1.25rem; 
  font-size: 1.125rem; 
}
 
@media (min-width:1200px) {
  .button-container .btn:first-child {
    margin-left: 14rem; 
  }

  .button-container .btn:last-child {
    margin-right: 0;
  }
}

/* Ensure full width buttons on smaller screens */
@media (max-width:768px) { 
  .button-container .btn {
    padding: 1rem;
    flex: 1 1 50%; /* Each button takes full width */
    margin: 0.625rem 0; 
    font-size: 0.9rem; 
  }
}

.table {
  width: 100%;
  text-align: center;
}
