body {
  max-width: 100%; 
   overflow-x: hidden;
}

.sidebar-menu-item:hover {
  background-color: #640078;
}
.moveToRight-container {
  margin-left: calc(25% + 60px);
  margin-right: 10%;
}
.submit-button {
  background-color: purple !important;
  margin-top: 20px;
  font-size: 16px;
}
.success-message {
  color: green;
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .moveToRight-container {
    margin-left: 35%;
    margin-right: 0%;
  }}
@media (max-width: 768px) {
    .moveToRight-container {
      margin-left: 25%;
      margin-right: 5%;
    }}
@media (max-width: 576px) {
      .moveToRight-container {
        margin-left: 16%;
        margin-right: 1%;
      }}
@media (max-width: 400px) {
        .moveToRight-container {
          margin-left: 15%;
          margin-right: 0%;
        }}